* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #979ee2;
  --primary-light: #ccd1eb;
  --primary-dark: #3c4263;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Nav Component */

.nav {
  position: relative;

  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.nav-toggle {
  display: inline-block;
  position: relative;
  margin-left: auto;
  padding: 0.5rem;
  width: 64px;
  z-index: 3;

  transition: color 0.25s ease-out;
  color: var(--primary-light);
}

.nav-toggle:hover,
.nav-toggle:focus {
  color: var(--primary-dark);
}

.nav-toggle-checkbox {
  /* Hide */
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.nav-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;

  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  /* Slide-In */
  transition: transform 0.25s ease-in-out;
  transform: translateX(-100%);
}

.nav-toggle-checkbox:checked ~ .nav-content {
  /* Slide In */
  transform: translateX(0);
}

.nav-content .logo {
  display: block;
  width: 192px;
  margin-left: 1.5rem;
}
.nav-content ul {
  list-style: none;
  width: 100%;
}

.nav-content li {
  margin-top: 1.5rem;
}

.nav-content a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  transition: all 0.2s ease-out;
}

.nav-content a.active {
  background-image: linear-gradient(to right, var(--primary) 100%, transparent);
  background-repeat: no-repeat;
  background-position-x: -20vw;
  color: black;
}

.nav-content a span,
.nav-content a span {
  transition: transform 0.15s ease-in-out;
  transform: translateX(0);
}
.nav-content a.active span,
.nav-content a:hover span,
.nav-content a:focus span {
  transform: translateX(1rem);
}

.nav-content a svg {
  margin-right: 0.5rem;
}
