* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header: #0a167e;
  --primary: #979ee2;
  --primary-light: #ccd1eb;
  --primary-dark: #3c4263;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", sans-serif;
  color: var(--header);
}

p {
  max-width: 70ch;
  line-height: 1.3;
  margin-bottom: 1rem;
}

a {
  color: var(--header);
  text-decoration: none;
  background-image: linear-gradient(
      to top,
      transparent 2px,
      var(--header) 2px,
      var(--header) 3px,
      transparent 3px
    ),
    linear-gradient(
      to top,
      transparent 2px,
      var(--primary-light) 2px,
      var(--primary-light) 3px,
      transparent 3px
    );
  background-repeat: no-repeat, repeat;
  background-size: 0%, 100%;
  background-position-x: 50%;

  transition: all 0.2s ease;
}

a:hover,
a:focus {
  background-size: 100%, 100%;
}

img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  height: auto;
}

.highlight {
  position: relative;

  margin: 2rem 0;
  max-width: 70ch;
}

.highlight::after {
  content: "";


  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;

  background-color: black;
  width: 100%;
  height: 100%;
  
}

.highlight pre {
  padding: 1rem;
}

label {
  font-size: 1.25rem;
  display: block;
  margin: 0.5rem 0;
}

.form > * {
  max-width: min(100%, 50ch);
}

input[type="text"],
textarea {
  font-family: inherit;

  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  font-weight: 400;

  font-size: 1.25rem;
}

input[type="submit"] {
  font-size: 1.15rem;
  padding: 0.25em 0.5em;
  margin: 1rem 0;

  color: white;

  border: none;
  background-color: black;
  border-radius: 0.25em;
  border: 2px solid transparent;
}

select {
  appearance: none;

  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;

  color: white;
  font-size: 1.15rem;

  outline: none;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 2px solid var(--primary);
  border-radius: inherit;
}

.select {
  position: relative;
  display: grid;
  grid-template-areas: "select";
  align-items: center;

  width: 100%;
  min-width: 15ch;
  max-width: 20ch;
  margin-top: 0.5rem;
  padding: 0.25em 0.5em;

  border-radius: 0.25em;

  font-size: 1.5rem;
  line-height: 1.1;

  cursor: pointer;

  background-color: black;
  color: white;
}

.select::after {
  justify-self: end;

  content: "";
  width: 0.8em;
  height: 0.5em;

  background-color: white;
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
  pointer-events: none;
}

select,
.select::after {
  grid-area: select;
}

/************************************** 
  Nav Component
**************************************/

.nav {
  position: relative;
  z-index: 2;

  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.nav-toggle {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0.5rem;
  width: 64px;
  z-index: 3;

  transition: color 0.25s ease-out;
  color: var(--header);
}

.nav-toggle:hover,
.nav-toggle:focus {
  color: #555;
}

.nav-toggle-checkbox {
  /* Hide */
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.nav-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;

  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  /* Slide-In */
  transition: transform 0.25s ease-in-out;
  transform: translateX(-100%);
}

.nav-toggle-checkbox:checked ~ .nav-toggle {
  color: white;
}

.nav-toggle-checkbox:checked ~ .nav-content {
  /* Slide In */
  transform: translateX(0);
}

.nav-content .logo {
  display: block;
  width: 192px;
  margin-left: 1.5rem;
}
.nav-content ul {
  list-style: none;
  width: 100%;
}

.nav-content li {
  margin-top: 1.5rem;
}

.nav-content a {
  background: none;
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  transition: all 0.2s ease-out;
}

.nav-content a.active {
  background-image: linear-gradient(to right, var(--primary) 100%, transparent);
  background-repeat: no-repeat;
  background-position-x: -20vw;
  color: black;
}

.nav-content a span,
.nav-content a span {
  transition: transform 0.15s ease-in-out;
  transform: translateX(0);
}
.nav-content a.active span,
.nav-content a:hover span,
.nav-content a:focus span {
  transform: translateX(1rem);
}

.nav-content a svg {
  margin-right: 0.5rem;
}

/************************************** 
  Header Component
**************************************/

.header {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.header .title {
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--header);
}

.header .subtitle {
  position: relative;
  top: -0.25rem;
  font-size: 0.6em;
  color: #4c4c4c;
  letter-spacing: -1px;
}

/************************************** 
  Main Content
**************************************/

.main {
  padding: 0 0.5rem;
}

/************************************** 
  Post Title Component
**************************************/

.post-title {
  position: relative;
  z-index: 0;
}

.post-title .post-header {
  position: relative;
  z-index: 1;

  background-color: #67709f;
  color: white;
  width: 90%;

  padding: 0.25rem 0.5rem;
}

.post-title .post-header a {
  color: white;
  background: none;
}

.post-title .post-date {
  position: relative;
  z-index: 0;
  width: 90%;
  max-width: 100%;
  top: -1.25rem;
  left: 0.25rem;

  margin-bottom: -1rem;
  padding: 1.5rem 0.5rem 0.5rem;

  background-color: black;
  color: white;
}

/************************************** 
  Post Summary Component
**************************************/

.post-summary {
  max-width: 768px;
  position: relative;
  z-index: 0;

  margin: 2rem 0;
}

.post-summary .post-link {
  display: block;
  width: 90%;
  max-width: 70ch;
  font-size: 1.25rem;
  text-align: right;
}

/************************************** 
  Footer Component
**************************************/

.footer {
  margin-top: 1rem;
  padding: 1rem 0.5rem 0;
  padding-top: 1rem;

  font-size: 0.8rem;

  background-image: linear-gradient(
    to bottom,
    var(--primary-light) 2px,
    white 2px
  );
  background-size: 96vw;
  background-repeat: no-repeat;
  background-position-x: 2vw;

  color: #4c4c4c;
}

.footer p {
  margin-bottom: 0.5rem;
}

/************************************** 
  Index Page Styles
**************************************/

.index-about {
  margin: 2rem 0;
  margin-right: 1rem;
  padding: 0.75rem 1.5rem;
  font-style: italic;

  background-image: linear-gradient(
    to right,
    var(--header) 0.5rem,
    transparent 0.5rem
  );
  background-color: var(--primary-light);
}

.view-all-link {
  font-size: 1.5rem;
  width: max-content;
  margin: 2rem auto;
}

/************************************** 
  Blog Page Styles
**************************************/

.hidden-post {
  display: none;
}

/**************************************
  Desktop View
***************************************/

@media screen and (min-width: 950px) {
  .layout {
    display: grid;

    grid-template-areas:
      "sidebar header"
      "sidebar content"
      "sidebar footer";
    grid-template-rows: min-content 1fr;
    grid-template-columns: min(30%, 450px) 1fr;
    gap: 2rem;

    min-height: 100vh;
  }

  /************************************** 
    Nav Component
  **************************************/

  body {
    font-size: 1.25rem;
  }

  .nav {
    display: block;
    grid-area: sidebar;

    background-color: black;
  }

  .nav-toggle,
  .nav-toggle-checkbox {
    display: none;
  }

  .nav-content {
    display: block;

    position: static;
    min-height: auto;

    background: none;
    transform: none;
  }

  .nav-content .logo {
    width: min(256px, 100%);
  }

  .nav-content .logo img {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-content a.active {
    background-position-x: min(-6vw, -50px);
  }

  /************************************** 
    Header Component
  **************************************/

  .header {
    grid-area: header;

    font-size: calc(2rem + 3vw);
  }

  .header .title {
    font-size: 1em;
  }

  .header .subtitle {
    font-size: 0.35em;
    top: -0.6rem;
    left: 0.25rem;
  }

  /************************************** 
    Main Content
  **************************************/

  .main {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }

  /************************************** 
    Post Summary Component
  **************************************/

  .post-summary {
    max-width: 1200px;
  }

  /************************************** 
    Footer Component
  **************************************/

  .footer {
    background-size: unset;
    background-position-x: -2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer p {
    max-width: unset;
  }

  /************************************** 
    Index Page Styles
  **************************************/

  .view-all-link {
    margin: 0;
  }

  .index-about {
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 90%;
  }
}
